body {
    margin-top: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: chartreuse;
    background-image: url('images/pattern.png');
}

#mainheader {
    background-color: rgb(51, 211, 195);
    text-align: left;
}

.leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.leftmenu img {
    width: 300px; 
    height: 300px;
}

.leftmenu header {
    text-align: center;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 155px 10px;
    width: 200px;
    
}

.main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

.main img {
    width: 300px;
}

footer {
    clear: both;
    width: 100%;
    font-size: x-small;
}
 
p {
    color: rgb(43, 41, 41);
}
header, 
section,
footer,
aside,
nav,
main, 
article,
figure {
    display: block;
}