body {
    margin-top: 0px;
    font-family: 'Roboto Slab', serif;
    margin: 10px;
    background-color: #78cc33;
}
header {
    vertical-align: center;
    font-size: 600;
    font-weight: bold;
}

#mainheader {
    background-color:#33cc99;
    text-align: left;
    font-size:x-large;
    font-weight: bolder;
}

.leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

.leftmenu img {
    width: 300px; 
    height: 300px;
}

.leftmenu header {
    text-align: center;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

.searchbox {
    padding: 5px;
    margin: 10px 0px 10px 0px;
    width: 200px;
    
}

.main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}

.main img {
    width: 300px;
}

.main figure {
    border: 5px solid #333333;
    padding: 2rem;
    margin:5px 30px 5px 0px;
}


footer {
    clear: both;
    width: 100%;
    font-size: x-small;
}
 
p {
    color: #333333;
}
, 
section,
footer,
aside,
nav,
main, 
article,
figure {
    display: block;
}